<ion-view ng-init="initAuth()" class="walkthrough-view" cache-view="false">
  <ion-content id="auth-background" scroll="false">
    <div class="top-content row">
      <div class="col col-center">
        <h1 id="logo">Mindfull v0.6</h1>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <a class="facebook-sign-in sign-up button button-block button-stable" ng-click="facebookSignIn()">Login with Facebook</a>
      </div>
    </div>
  </ion-content>
</ion-view>